

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "mockup mockup description description"
                         "mockup mockup description description"
                         "mockup mockup description description"
                         "footer footer footer footer";
    background: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}


    /*HEADER*/
    
    .header{
        grid-area: header;
    }

    .header h1{
        margin-top: 30px;
        margin-left: 110px;
        color: white;
        font-family: 'Poppins';
    }

    

    /*MOCKUP*/
    
    .mockup{
        grid-area: mockup;
        margin-left: 70px;
        margin-top: 65px;
    }

 

    /*DESCRIPTION*/

    .description{
        grid-area: description;
        width: 470px;
        margin-left: 170px;
        margin-top: 120px;
    }

    .description h2{
        color: white;
        line-height: 20px;
        font-size: 30px;
        font-weight: 600;
        }

    .description p {
        color: white;
        font-size: 15px;
        line-height: 22px;
        padding-top: 20px;
        padding-bottom:15px ;
    }



    .description .btn a{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    margin-top:50px;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    }

    .description .social {
        margin-top: 230px;
        margin-left: 340px;
    }

    .description .social a{
        color: white;
        font-size: 30px;
        padding: 5px;
    }




    /*FOOTER*/ 


   .footer{
        grid-area: footer;
        color: white;     
    }

    .footer .attribution 
    { font-size: 12px; 
    text-align: center; 
}
   
   
    .footer .attribution a 
    { color: white;
    
    }
